In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

### GroupBy技术

In [2]:
df = DataFrame({"key1": ["a", "a", "b", "b", "a"],
               "key2": ["one", "two", "one", "two", "one"],
               "data1": np.random.randn(5),
               "data2": np.random.randn(5)})

In [3]:
df

      data1     data2 key1 key2
0 -0.687150 -1.774263    a  one
1 -0.434054 -0.405102    a  two
2  1.398337 -0.782773    b  one
3 -0.931734 -1.292521    b  two
4 -0.684119 -2.272806    a  one

In [4]:
# 根据key1分组，并计算data1的平均值
grouped = df["data1"].groupby(df["key1"])

In [5]:
grouped

In [6]:
# 计算算术平均值
grouped.mean()

key1
a   -0.601775
b    0.233301
Name: data1, dtype: float64

In [7]:
means= df["data1"].groupby([df["key1"], df["key2"]]).mean()

In [8]:
means

key1  key2
a     one    -0.685635
      two    -0.434054
b     one     1.398337
      two    -0.931734
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a    -0.685635 -0.434054
b     1.398337 -0.931734

In [10]:
# 分区键可以是任何长度适当的数组
states = np.array(["Ohio", "California", "California", "Ohio", "Ohio"])

In [11]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [12]:
df["data1"].groupby([states, years]).mean()

California  2005   -0.434054
            2006    1.398337
Ohio        2005   -0.809442
            2006   -0.684119
Name: data1, dtype: float64

In [13]:
# 将列名（可以是字符串、数字或其他Python对象）用作分组键
df.groupby("key1").mean()

         data1     data2
key1
a    -0.601775 -1.484057
b     0.233301 -1.037647

In [14]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    one  -0.685635 -2.023534
     two  -0.434054 -0.405102
b    one   1.398337 -0.782773
     two  -0.931734 -1.292521

In [15]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

#### 1.对分组进行迭代

In [16]:
# GroupBy对象支持迭代，可以产生一组二元元组（由分组名和数据库组成）
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -0.687150 -1.774263    a  one
1 -0.434054 -0.405102    a  two
4 -0.684119 -2.272806    a  one
b
      data1     data2 key1 key2
2  1.398337 -0.782773    b  one
3 -0.931734 -1.292521    b  two

In [17]:
# 对于多重键的情况，元组的第一个元素将会是由键值组成的元组
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print(k1, k2)
    print(group)

a one
      data1     data2 key1 key2
0 -0.687150 -1.774263    a  one
4 -0.684119 -2.272806    a  one
a two
      data1     data2 key1 key2
1 -0.434054 -0.405102    a  two
b one
      data1     data2 key1 key2
2  1.398337 -0.782773    b  one
b two
      data1     data2 key1 key2
3 -0.931734 -1.292521    b  two

In [18]:
# 将数据片段做成一个字典
pieces = dict(list(df.groupby("key1")))

In [19]:
pieces["b"]

      data1     data2 key1 key2
2  1.398337 -0.782773    b  one
3 -0.931734 -1.292521    b  two

In [20]:
# groupby默认是在axis=0上进行分组的，通过设置也可以在其他任何轴上进行分组
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [21]:
grouped = df.groupby(df.dtypes, axis=1)

In [22]:
dict(list(grouped))

{dtype('float64'):       data1     data2
 0 -0.687150 -1.774263
 1 -0.434054 -0.405102
 2  1.398337 -0.782773
 3 -0.931734 -1.292521
 4 -0.684119 -2.272806, dtype('O'):   key1 key2
 0    a  one
 1    a  two
 2    b  one
 3    b  two
 4    a  one}

#### 2.选取一个或一组列

In [23]:
df.groupby("key1")["data1"]
df.groupby("key1")[["data2"]]

In [24]:
# 代码的语法糖
df["data1"].groupby(df["key1"])
df[["data2"]].groupby(df["key1"])

In [25]:
# 计算data2列的平均值并以DataFrame形式得到结果
df.groupby(["key1", "key2"])[["data2"]].mean()

              data2
key1 key2
a    one  -2.023534
     two  -0.405102
b    one  -0.782773
     two  -1.292521

In [26]:
s_grouped = df.groupby(["key1", "key2"])["data2"]

In [27]:
s_grouped

In [28]:
s_grouped.mean()

key1  key2
a     one    -2.023534
      two    -0.405102
b     one    -0.782773
      two    -1.292521
Name: data2, dtype: float64

#### 3.通过字典或Series进行分组

In [29]:
people = DataFrame(np.random.randn(5, 5),
                  columns=["a", "b", "c", "d", "e"],
                  index=["Joe", "Steve", "Wes", "Jim", "Travis"])

In [30]:
# 添加几个NA值
people.loc[2:3, ["b", "c"]] = np.nan

In [31]:
people

               a         b         c         d         e
Joe     1.891973 -0.700203 -2.878941 -0.749868 -0.563877
Steve  -0.589142 -1.080077  0.817692  0.964490 -1.200756
Wes    -0.349806       NaN       NaN -1.397491  1.620202
Jim     0.948535 -0.294875 -0.514823 -0.373288  0.360737
Travis  0.021419  0.396398 -0.818838 -0.533214 -0.616636

In [32]:
mapping = {"a": "red", "b": "red", "c": "blue",
          "d": "blue", "e": "red", "f": "orange"}

In [33]:
by_column = people.groupby(mapping, axis=1)

In [34]:
by_column.sum()

            blue       red
Joe    -3.628809  0.627893
Steve   1.782182 -2.869975
Wes    -1.397491  1.270396
Jim    -0.888111  1.014397
Travis -1.352052 -0.198819

In [35]:
map_series = Series(mapping)

In [36]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [37]:
people.groupby(map_series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

#### 4.通过函数进行分组

In [38]:
people.groupby(len).sum()

          a         b         c         d         e
3  2.490702 -0.995078 -3.393764 -2.520648  1.417062
5 -0.589142 -1.080077  0.817692  0.964490 -1.200756
6  0.021419  0.396398 -0.818838 -0.533214 -0.616636

In [39]:
# 将函数跟数组、列表、字典、Series混合使用也不是问题，因为任何东西最终都会被转换为数组
key_list = ["one", "one", "one", "two", "two"]

In [40]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -0.349806 -0.700203 -2.878941 -1.397491 -0.563877
  two  0.948535 -0.294875 -0.514823 -0.373288  0.360737
5 one -0.589142 -1.080077  0.817692  0.964490 -1.200756
6 two  0.021419  0.396398 -0.818838 -0.533214 -0.616636

#### 5.根据索引级别分组

In [41]:
columns = pd.MultiIndex.from_arrays([["US", "US", "US", "JP", "JP"],
                                    [1, 3, 5, 1, 3]], names=["city", "tenor"])

In [42]:
hier_df = DataFrame(np.random.randn(4, 5), columns=columns)

In [43]:
hier_df

city         US                            JP
tenor         1         3         5         1         3
0     -0.365825 -1.023160 -1.959380 -0.286463 -1.013048
1      1.309183  0.601422  0.634056 -1.065313 -0.445580
2     -0.691030  1.889217  0.390313  0.584518  1.603914
3      0.043819 -0.190291  0.915312  0.368626  0.968169

In [44]:
hier_df.groupby(level="city", axis=1).count()

city  JP  US
0      2   3
1      2   3
2      2   3
3      2   3

### 数据聚合

In [45]:
df

      data1     data2 key1 key2
0 -0.687150 -1.774263    a  one
1 -0.434054 -0.405102    a  two
2  1.398337 -0.782773    b  one
3 -0.931734 -1.292521    b  two
4 -0.684119 -2.272806    a  one

In [46]:
grouped = df.groupby("key1")

In [47]:
# GroupBy会高效地对Series进行切片，然后对各片调用piece.quantitle(0.9)，最后将这些结果组装成最终结果。
grouped["data1"].quantile(0.9)

key1
a   -0.484067
b    1.165330
Name: data1, dtype: float64

In [48]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [49]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     0.253097  1.867704
b     2.330071  0.509749

In [50]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.601775  0.145258 -0.687150 -0.685635 -0.684119 -0.559087
b      2.0  0.233301  1.647609 -0.931734 -0.349216  0.233301  0.815819

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a    -0.434054   3.0 -1.484057  0.967080 -2.272806 -2.023534 -1.774263
b     1.398337   2.0 -1.037647  0.360447 -1.292521 -1.165084 -1.037647


           75%       max
key1
a    -1.089682 -0.405102
b    -0.910210 -0.782773

In [52]:
tips = pd.read_csv("tips.csv")

In [53]:
# 添加“小费占总金额百分比”的列
tips["tip_pct"] = tips["tip"] / tips["total_bill"]

In [54]:
tips[:6]

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808
5       25.29  4.71     No  Sun  Dinner     4  0.186240

#### 1.面向列的多函数应用

In [56]:
grouped = tips.groupby(["day", "smoker"])

In [58]:
grouped_pct = grouped["tip_pct"]

In [59]:
grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [60]:
grouped_pct.agg(["mean", "std", peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [61]:
grouped_pct.agg([("foo", "mean"), ("bar", np.std)])

                  foo       bar
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [62]:
functions = ["count", "mean", "max"]

In [63]:
result = grouped["tip_pct", "total_bill"].agg(functions)

In [64]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [65]:
result["tip_pct"]

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [66]:
# 传入自定义名称的元组列表
ftuples = [("Durchschnitt", "mean"), ("Abweichung", np.var)]

In [67]:
grouped["tip_pct", "total_bill"].agg(ftuples)

                 tip_pct              total_bill
            Durchschnitt Abweichung Durchschnitt  Abweichung
day  smoker
Fri  No         0.151650   0.000791    18.420000   25.596333
     Yes        0.174783   0.002631    16.813333   82.562438
Sat  No         0.158048   0.001581    19.661778   79.908965
     Yes        0.147906   0.003767    21.276667  101.387535
Sun  No         0.160113   0.001793    20.506667   66.099980
     Yes        0.187250   0.023757    24.120000  109.046044
Thur No         0.160298   0.001503    17.113111   59.625081
     Yes        0.163863   0.001551    19.190588   69.808518

In [68]:
# 对不同的列应用不同的函数
grouped.agg({"tip": np.max, "size": "sum"})

             size    tip
day  smoker
Fri  No         9   3.50
     Yes       31   4.73
Sat  No       115   9.00
     Yes      104  10.00
Sun  No       167   6.00
     Yes       49   6.50
Thur No       112   6.70
     Yes       40   5.00

In [69]:
grouped.agg({"tip_pct": ["min", "max", "mean", "std"],
            "size": "sum"})

            size   tip_pct
             sum       min       max      mean       std
day  smoker
Fri  No        9  0.120385  0.187735  0.151650  0.028123
     Yes      31  0.103555  0.263480  0.174783  0.051293
Sat  No      115  0.056797  0.291990  0.158048  0.039767
     Yes     104  0.035638  0.325733  0.147906  0.061375
Sun  No      167  0.059447  0.252672  0.160113  0.042347
     Yes      49  0.065660  0.710345  0.187250  0.154134
Thur No      112  0.072961  0.266312  0.160298  0.038774
     Yes      40  0.090014  0.241255  0.163863  0.039389

#### 2.以“无索引”的形式返回聚合数据

In [70]:
tips.groupby(["day", "smoker"], as_index=False).mean()

    day smoker  total_bill       tip      size   tip_pct
0   Fri     No   18.420000  2.812500  2.250000  0.151650
1   Fri    Yes   16.813333  2.714000  2.066667  0.174783
2   Sat     No   19.661778  3.102889  2.555556  0.158048
3   Sat    Yes   21.276667  2.875476  2.476190  0.147906
4   Sun     No   20.506667  3.167895  2.929825  0.160113
5   Sun    Yes   24.120000  3.516842  2.578947  0.187250
6  Thur     No   17.113111  2.673778  2.488889  0.160298
7  Thur    Yes   19.190588  3.030000  2.352941  0.163863

### 分组运算和转换

In [71]:
df

      data1     data2 key1 key2
0 -0.687150 -1.774263    a  one
1 -0.434054 -0.405102    a  two
2  1.398337 -0.782773    b  one
3 -0.931734 -1.292521    b  two
4 -0.684119 -2.272806    a  one

In [72]:
k1_means = df.groupby("key1").mean().add_prefix("mean_")

In [73]:
k1_means

      mean_data1  mean_data2
key1
a      -0.601775   -1.484057
b       0.233301   -1.037647

In [74]:
pd.merge(df, k1_means, left_on="key1", right_index=True)

      data1     data2 key1 key2  mean_data1  mean_data2
0 -0.687150 -1.774263    a  one   -0.601775   -1.484057
1 -0.434054 -0.405102    a  two   -0.601775   -1.484057
4 -0.684119 -2.272806    a  one   -0.601775   -1.484057
2  1.398337 -0.782773    b  one    0.233301   -1.037647
3 -0.931734 -1.292521    b  two    0.233301   -1.037647

In [75]:
key = ["one", "two", "one", "two", "one"]

In [76]:
people.groupby(key).mean()

            a         b         c         d         e
one  0.521195 -0.151902 -1.848889 -0.893525  0.146563
two  0.179697 -0.687476  0.151435  0.295601 -0.420010

In [77]:
people.groupby(key).transform(np.mean)

               a         b         c         d         e
Joe     0.521195 -0.151902 -1.848889 -0.893525  0.146563
Steve   0.179697 -0.687476  0.151435  0.295601 -0.420010
Wes     0.521195 -0.151902 -1.848889 -0.893525  0.146563
Jim     0.179697 -0.687476  0.151435  0.295601 -0.420010
Travis  0.521195 -0.151902 -1.848889 -0.893525  0.146563

In [78]:
def demean(arr):
    return arr - arr.mean()

In [79]:
demeaned = people.groupby(key).transform(demean)

In [80]:
demeaned

               a         b         c         d         e
Joe     1.370778 -0.548300 -1.030051  0.143656 -0.710440
Steve  -0.768839 -0.392601  0.666258  0.668889 -0.780746
Wes    -0.871001       NaN       NaN -0.503966  1.473639
Jim     0.768839  0.392601 -0.666258 -0.668889  0.780746
Travis -0.499776  0.548300  1.030051  0.360310 -0.763199

In [81]:
demeaned.groupby(key).mean()

                a             b    c             d             e
one  3.700743e-17  0.000000e+00  0.0 -3.700743e-17  3.700743e-17
two  0.000000e+00  2.775558e-17  0.0  0.000000e+00  0.000000e+00

#### 1.apply：一般性的“拆分-应用-合并”

In [84]:
def top(df, n=5, column="tip_pct"):
    return df.sort_values(by=column)[-n:]

In [85]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39     No  Sat  Dinner     2  0.291990
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345

In [86]:
tips.groupby("smoker").apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85     No  Thur   Lunch     2  0.236746
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       232       11.61  3.39     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

In [87]:
tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [88]:
result = tips.groupby("smoker")["tip_pct"].describe()

In [89]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [90]:
result.unstack("smoker")

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

#### 2.禁止分组键

In [91]:
# 将group_keys=False传入groupby即可禁止分组键
tips.groupby("smoker", group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345

#### 3.分位数和桶分析

In [92]:
frame = DataFrame({"data1": np.random.randn(1000),
                  "data2": np.random.randn(1000)})

In [93]:
factor = pd.cut(frame.data1, 4)

In [94]:
factor[:10]

0     (0.0352, 1.796]
1    (-1.726, 0.0352]
2    (-3.493, -1.726]
3    (-1.726, 0.0352]
4     (0.0352, 1.796]
5    (-1.726, 0.0352]
6    (-1.726, 0.0352]
7    (-1.726, 0.0352]
8     (0.0352, 1.796]
9     (0.0352, 1.796]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.493, -1.726] < (-1.726, 0.0352] < (0.0352, 1.796] < (1.796, 3.557]]

In [95]:
def get_stats(group):
    return {"min": group.min(), "max": group.max(),
           "count": group.count(), "mean": group.mean()}

In [96]:
grouped = frame.data2.groupby(factor)

In [97]:
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-3.493, -1.726]   33.0  2.347357 -0.209854 -2.145654
(-1.726, 0.0352]  476.0  3.468942  0.010259 -3.097345
(0.0352, 1.796]   461.0  2.904927  0.014811 -3.271628
(1.796, 3.557]     30.0  2.760595  0.384066 -1.377826

In [98]:
# 返回分位数编号
grouping = pd.qcut(frame.data1, 10, labels=False)

In [99]:
grouped = frame.data2.groupby(grouping)

In [100]:
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.433572  0.052637 -3.097345
1      100.0  2.156158 -0.192324 -2.241774
2      100.0  3.468942  0.025494 -2.036837
3      100.0  3.032014  0.012069 -1.832242
4      100.0  2.657701  0.059396 -2.037194
5      100.0  2.369096  0.036094 -2.344102
6      100.0  2.162911  0.084810 -2.169351
7      100.0  2.904927 -0.107136 -3.122783
8      100.0  2.104799 -0.020859 -3.271628
9      100.0  2.833465  0.212898 -2.193501

#### 4.示例：用特定分组的值填充缺失值

In [101]:
s = Series(np.random.randn(6))

In [102]:
s[::2] = np.nan

In [103]:
s

0         NaN
1    0.513820
2         NaN
3    1.544453
4         NaN
5    0.537672
dtype: float64

In [105]:
# 用平均值填充NA值
s.fillna(s.mean())

0    0.865315
1    0.513820
2    0.865315
3    1.544453
4    0.865315
5    0.537672
dtype: float64

In [106]:
# 对不同的分组填充不同的值
states = ["Ohio", "New York", "Vermont", "Florida",
         "Oregon", "Nevada", "California", "Idaho"]
group_key = ["East"] * 4 + ["West"] * 4

In [107]:
data = Series(np.random.randn(8), index=states)

In [108]:
data[["Vermont", "Nevada", "Idaho"]] = np.nan

In [109]:
data

Ohio         -0.520150
New York      0.984346
Vermont            NaN
Florida      -2.709375
Oregon       -0.250345
Nevada             NaN
California   -0.075430
Idaho              NaN
dtype: float64

In [110]:
data.groupby(group_key).mean()

East   -0.748393
West   -0.162888
dtype: float64

In [112]:
# 用平均值去填充NA值
fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

Ohio         -0.520150
New York      0.984346
Vermont      -0.748393
Florida      -2.709375
Oregon       -0.250345
Nevada       -0.162888
California   -0.075430
Idaho        -0.162888
dtype: float64

In [113]:
fill_values = {"East": 0.5, "West": -1}

In [114]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [115]:
data.groupby(group_key).apply(fill_func)

Ohio         -0.520150
New York      0.984346
Vermont       0.500000
Florida      -2.709375
Oregon       -0.250345
Nevada       -1.000000
California   -0.075430
Idaho        -1.000000
dtype: float64

#### 5.示例：随机采样和排列

In [119]:
# 红桃（Hearts）、黑桃（Spades）、梅花（Clubs）、方片（Diamonds）
suits = ["H", "S", "C", "D"]
card_val = ([i for i in range(1, 11)] + [10]*3) * 4
base_names = ["A"] + [i for i in range(2, 11)] + ["J", "K", "Q"]
cards = []
for suit in ["H", "S", "C", "D"]:
    cards.extend(str(num) + suit for num in base_names)
deck = Series(card_val, index=cards)

In [120]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [121]:
# 从整副牌中抽取5张
def draw(deck, n=5):
    return deck.take(np.random.permutation(len(deck))[:n])

In [122]:
draw(deck)

QD     10
10C    10
JH     10
7D      7
JD     10
dtype: int64

In [123]:
# 从每种花色中随机抽取两张牌
get_suit = lambda card: card[-1]
deck.groupby(get_suit).apply(draw, 2)

C  6C      6
   8C      8
D  JD     10
   8D      8
H  3H      3
   10H    10
S  JS     10
   KS     10
dtype: int64

In [124]:
# 从每种花色中随机抽取两张牌的另一种实现方法
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

3C     3
9C     9
9D     9
KD    10
2H     2
9H     9
QS    10
2S     2
dtype: int64

#### 6.示例：分组加权平均数和相关系数

In [125]:
df = DataFrame({"category": ["a", "a", "a", "a", "b", "b", "b", "b"],
                "data": np.random.randn(8),
                "weights": np.random.rand(8)})

In [126]:
df

  category      data   weights
0        a -0.026247  0.534807
1        a -0.776326  0.585366
2        a -1.792602  0.352003
3        a -0.768951  0.219337
4        b  1.238022  0.822440
5        b  0.141418  0.506482
6        b  0.302332  0.439672
7        b -0.647900  0.258767

In [127]:
# 利用category计算分组加权平均数
grouped = df.groupby("category")

In [128]:
get_wavg = lambda g: np.average(g["data"], weights=g["weights"])

In [129]:
grouped.apply(get_wavg)

category
a   -0.749703
b    0.520429
dtype: float64

In [130]:
# 查看标准普尔500指数（SPX字段）
close_px = pd.read_csv("stock_px.csv", parse_dates=True, index_col=0)

In [131]:
close_px

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
1990-02-01   4.98    7.86   2.87   16.79   4.27   0.51   6.04   328.79   6.12
1990-02-02   5.04    8.00   2.87   16.89   4.37   0.51   6.09   330.92   6.24
1990-02-05   5.07    8.18   2.87   17.32   4.34   0.51   6.05   331.85   6.25
1990-02-06   5.01    8.12   2.88   17.56   4.32   0.51   6.15   329.66   6.23
1990-02-07   5.04    7.77   2.91   17.93   4.38   0.51   6.17   333.75   6.33
1990-02-08   5.04    7.71   2.92   17.86   4.46   0.51   6.22   332.96   6.35
1990-02-09   5.06    8.00   2.94   17.82   4.49   0.52   6.24   333.62   6.37
1990-02-12   4.96    7.94   2.89   17.58   4.46   0.52   6.23   330.08   6.22
1990-02-13   4.91    8.06   2.88   17.95   4.43   0.52   6.09   331.02   6.23
1990-02-14   4.94    8.00   2.89   18.04   4.47   0.52   6.10   332.01   6.20
1990-02-15   4.99    8.00   2.91   18.04   4.54   0.53   6.15   334.89   6.40
1990-02-16   5.10    7.91   2.88   17.99   4.47   0.53   6.11   332.72   6.33
1990-02-20   5.04    7.85   2.83   17.88   4.39   0.55   6.01   327.99   6.25
1990-02-21   5.01    7.97   2.81   18.23   4.33   0.52   5.91   327.67   6.28
1990-02-22   5.06    7.73   2.82   17.95   4.28   0.53   5.87   325.70   6.22
1990-02-23   5.07    7.79   2.81   17.84   4.20   0.53   5.88   324.15   6.22
1990-02-26   5.13    7.97   2.84   18.08   4.30   0.54   5.93   328.67   6.37
1990-02-27   5.16    7.85   2.88   18.04   4.30   0.53   6.00   330.26   6.38
1990-02-28   5.22    7.97   2.89   18.06   4.32   0.54   6.06   331.89   6.20
1990-03-01   5.26    8.03   2.88   18.08   4.35   0.55   5.98   332.74   6.13
1990-03-02   5.41    7.91   2.92   18.23   4.43   0.57   5.89   335.54   6.17
1990-03-05   5.39    8.08   2.89   18.25   4.36   0.57   5.89   333.74   6.10
1990-03-06   5.40    8.26   2.92   18.39   4.45   0.57   5.97   337.93   6.22
1990-03-07   5.36    8.29   2.93   18.34   4.45   0.56   6.06   336.95   6.13
1990-03-08   5.34    8.61   2.95   18.60   4.50   0.58   6.18   340.27   6.17
1990-03-09   5.33    8.64   2.93   18.52   4.48   0.58   6.10   337.93   6.12
1990-03-12   5.34    8.58   2.92   18.73   4.46   0.59   6.22   338.67   6.13
1990-03-13   5.29    8.64   2.90   18.47   4.38   0.58   6.18   336.00   6.02
1990-03-14   5.28    8.67   2.95   18.47   4.44   0.59   6.15   336.87   6.13
1990-03-15   5.36    8.61   2.96   18.60   4.58   0.61   6.18   338.07   6.18
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-09-02  12.04  374.05  15.61  166.98  64.07  25.80  63.30  1173.97  72.14
2011-09-06  11.77  379.74  15.11  165.11  64.64  25.51  62.45  1165.24  71.15
2011-09-07  12.25  383.93  15.65  167.31  65.43  26.00  61.62  1198.62  73.65
2011-09-08  12.03  384.14  15.44  165.25  64.95  26.22  61.34  1185.90  72.82
2011-09-09  11.58  377.48  14.95  161.37  63.64  25.74  59.99  1154.23  71.01
2011-09-12  11.55  379.94  14.87  162.42  63.59  25.89  60.14  1162.27  71.84
2011-09-13  11.63  384.62  15.26  163.43  63.61  26.04  60.54  1172.87  71.65
2011-09-14  11.73  389.30  15.64  167.24  63.73  26.50  61.58  1188.68  72.64
2011-09-15  11.98  392.96  16.08  170.09  64.40  26.99  63.22  1209.11  74.01
2011-09-16  11.97  400.50  16.33  172.99  64.59  27.12  62.05  1216.01  74.55
2011-09-19  11.58  411.63  16.18  173.13  64.14  27.21  60.56  1204.09  73.70
2011-09-20  11.25  413.45  16.04  174.72  64.22  26.98  60.39  1202.09  74.01
2011-09-21  10.84  412.14  15.38  173.02  63.13  25.99  60.79  1166.76  71.97
2011-09-22  10.11  401.82  15.04  168.62  61.92  25.06  60.92  1129.56  69.24
2011-09-23  10.07  404.30  15.21  169.34  61.59  25.06  60.34  1136.43  69.31
2011-09-26  10.45  403.17  15.57  174.51  62.69  25.44  61.89  1162.95  71.72
2011-09-27  10.48  399.26  15.76  177.71  63.82  25.67  62.43  1175.38  72.91
2011-09-28   9.97  397.01  15.45  177.55  63.25  25.58  61.97  1151.06  72.07
2011-09-29  10.06  390.57  15.86  179.17  63.90  25.45  62.58  1160.40  73.88
2011-09-30   9.57  381.32  15.22  174.87  63.69  24.89  61.90  1131.42  72.63
2011-10-03   8.90  374.60  14.69  173.29  62.08  24.53  60.29  1099.23  71.15
2011-10-04   9.12  372.50  14.86  174.74  62.17  25.34  60.45  1123.95  72.83
2011-10-05   9.37  378.25  15.27  176.85  62.35  25.89  60.29  1144.03  73.95
2011-10-06   9.88  377.37  15.53  181.69  62.81  26.34  60.57  1164.97  73.89
2011-10-07   9.71  369.80  15.50  182.39  63.13  26.25  61.02  1155.46  73.56
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[5472 rows x 9 columns]

In [132]:
close_px[-4:]

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

In [133]:
# 计算一个由日收益率（通过百分数变化计算）与SPX之间的年度相关系数组成的DataFrame。
rets = close_px.pct_change().dropna()

In [134]:
spx_corr = lambda x: x.corrwith(x["SPX"])

In [135]:
by_year = rets.groupby(lambda x: x.year)

In [136]:
by_year.apply(spx_corr)

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
1990,0.595024,0.545067,0.752187,0.738361,0.801145,0.586691,0.783168,1.0,0.517586
1991,0.453574,0.365315,0.759607,0.557046,0.646401,0.524225,0.641775,1.0,0.569335
1992,0.398180,0.498732,0.632685,0.262232,0.515740,0.492345,0.473871,1.0,0.318408
1993,0.259069,0.238578,0.447257,0.211269,0.451503,0.425377,0.385089,1.0,0.318952
1994,0.428549,0.268420,0.572996,0.385162,0.372962,0.436585,0.450516,1.0,0.395078
1995,0.291532,0.161829,0.519126,0.416390,0.315733,0.453660,0.413144,1.0,0.368752
1996,0.292344,0.191482,0.750724,0.388497,0.569232,0.564015,0.421477,1.0,0.538736
1997,0.564427,0.211435,0.827512,0.646823,0.703538,0.606171,0.509344,1.0,0.695653
1998,0.533802,0.379883,0.815243,0.623982,0.591988,0.698773,0.494213,1.0,0.369264
1999,0.099033,0.425584,0.710928,0.486167,0.517061,0.631315,0.336593,1.0,0.315383
2000,0.265359,0.440161,0.610362,0.445114,0.189765,0.538005,0.077525,1.0,0.084163
2001,0.624069,0.577152,0.794632,0.696038,0.111493,0.696447,0.133975,1.0,0.336869
2002,0.748021,0.580548,0.822373,0.716490,0.584758,0.784728,0.487211,1.0,0.759933
2003,0.690466,0.545582,0.777643,0.741775,0.562399,0.750534,0.541487,1.0,0.662775
2004,0.591485,0.374283,0.728626,0.601740,0.354690,0.588531,0.466854,1.0,0.557742
2005,0.564267,0.467540,0.675637,0.516846,0.444728,0.562374,0.489559,1.0,0.631010
2006,0.487638,0.428267,0.612388,0.598636,0.394026,0.406126,0.335054,1.0,0.518514
2007,0.642427,0.508118,0.796945,0.603906,0.568423,0.658770,0.651911,1.0,0.786264
2008,0.781057,0.681434,0.777337,0.833074,0.801005,0.804626,0.709264,1.0,0.828303
2009,0.735642,0.707103,0.713086,0.684513,0.603146,0.654902,0.541474,1.0,0.797921
2010,0.745700,0.710105,0.822285,0.783638,0.689896,0.730118,0.626655,1.0,0.839057
2011,0.882045,0.691931,0.864595,0.802730,0.752379,0.800996,0.592029,1.0,0.859975

In [138]:
by_year.apply(lambda g: g["AAPL"].corr(g["MSFT"]))

1990    0.408271
1991    0.266807
1992    0.450592
1993    0.236917
1994    0.361638
1995    0.258642
1996    0.147539
1997    0.196144
1998    0.364106
1999    0.329484
2000    0.275298
2001    0.563156
2002    0.571435
2003    0.486262
2004    0.259024
2005    0.300093
2006    0.161735
2007    0.417738
2008    0.611901
2009    0.432738
2010    0.571946
2011    0.581987
dtype: float64

#### 7.示例：面向分组的线性回归

In [145]:
# 对各数据块执行普通最小二乘法（Ordinary Least Squares, OLS）回归
import statsmodels.api as sm
def regress(data, yvar, xvars):
    Y = data[yvar]
    X = data[xvars]
    X["interecpt"] = 1
    result = sm.OLS(Y, X).fit()
    return result.params

In [146]:
by_year.apply(regress, "AAPL", ["SPX"])

           SPX  interecpt
1990  1.512772   0.001395
1991  1.187351   0.000396
1992  1.832427   0.000164
1993  1.390470  -0.002657
1994  1.190277   0.001617
1995  0.858818  -0.001423
1996  0.829389  -0.001791
1997  0.749928  -0.001901
1998  1.164582   0.004075
1999  1.384989   0.003273
2000  1.733802  -0.002523
2001  1.676128   0.003122
2002  1.080795  -0.000219
2003  1.187770   0.000690
2004  1.363463   0.004201
2005  1.766415   0.003246
2006  1.645496   0.000080
2007  1.198761   0.003438
2008  0.968016  -0.001110
2009  0.879103   0.002954
2010  1.052608   0.001261
2011  0.806605   0.001514

### 透视表和交叉表

In [148]:
tips

     total_bill   tip smoker   day    time  size   tip_pct
0         16.99  1.01     No   Sun  Dinner     2  0.059447
1         10.34  1.66     No   Sun  Dinner     3  0.160542
2         21.01  3.50     No   Sun  Dinner     3  0.166587
3         23.68  3.31     No   Sun  Dinner     2  0.139780
4         24.59  3.61     No   Sun  Dinner     4  0.146808
5         25.29  4.71     No   Sun  Dinner     4  0.186240
6          8.77  2.00     No   Sun  Dinner     2  0.228050
7         26.88  3.12     No   Sun  Dinner     4  0.116071
8         15.04  1.96     No   Sun  Dinner     2  0.130319
9         14.78  3.23     No   Sun  Dinner     2  0.218539
10        10.27  1.71     No   Sun  Dinner     2  0.166504
11        35.26  5.00     No   Sun  Dinner     4  0.141804
12        15.42  1.57     No   Sun  Dinner     2  0.101816
13        18.43  3.00     No   Sun  Dinner     4  0.162778
14        14.83  3.02     No   Sun  Dinner     2  0.203641
15        21.58  3.92     No   Sun  Dinner     2  0.181650
16        10.33  1.67     No   Sun  Dinner     3  0.161665
17        16.29  3.71     No   Sun  Dinner     3  0.227747
18        16.97  3.50     No   Sun  Dinner     3  0.206246
19        20.65  3.35     No   Sat  Dinner     3  0.162228
20        17.92  4.08     No   Sat  Dinner     2  0.227679
21        20.29  2.75     No   Sat  Dinner     2  0.135535
22        15.77  2.23     No   Sat  Dinner     2  0.141408
23        39.42  7.58     No   Sat  Dinner     4  0.192288
24        19.82  3.18     No   Sat  Dinner     2  0.160444
25        17.81  2.34     No   Sat  Dinner     4  0.131387
26        13.37  2.00     No   Sat  Dinner     2  0.149589
27        12.69  2.00     No   Sat  Dinner     2  0.157604
28        21.70  4.30     No   Sat  Dinner     2  0.198157
29        19.65  3.00     No   Sat  Dinner     2  0.152672
..          ...   ...    ...   ...     ...   ...       ...
214       28.17  6.50    Yes   Sat  Dinner     3  0.230742
215       12.90  1.10    Yes   Sat  Dinner     2  0.085271
216       28.15  3.00    Yes   Sat  Dinner     5  0.106572
217       11.59  1.50    Yes   Sat  Dinner     2  0.129422
218        7.74  1.44    Yes   Sat  Dinner     2  0.186047
219       30.14  3.09    Yes   Sat  Dinner     4  0.102522
220       12.16  2.20    Yes   Fri   Lunch     2  0.180921
221       13.42  3.48    Yes   Fri   Lunch     2  0.259314
222        8.58  1.92    Yes   Fri   Lunch     1  0.223776
223       15.98  3.00     No   Fri   Lunch     3  0.187735
224       13.42  1.58    Yes   Fri   Lunch     2  0.117735
225       16.27  2.50    Yes   Fri   Lunch     2  0.153657
226       10.09  2.00    Yes   Fri   Lunch     2  0.198216
227       20.45  3.00     No   Sat  Dinner     4  0.146699
228       13.28  2.72     No   Sat  Dinner     2  0.204819
229       22.12  2.88    Yes   Sat  Dinner     2  0.130199
230       24.01  2.00    Yes   Sat  Dinner     4  0.083299
231       15.69  3.00    Yes   Sat  Dinner     3  0.191205
232       11.61  3.39     No   Sat  Dinner     2  0.291990
233       10.77  1.47     No   Sat  Dinner     2  0.136490
234       15.53  3.00    Yes   Sat  Dinner     2  0.193175
235       10.07  1.25     No   Sat  Dinner     2  0.124131
236       12.60  1.00    Yes   Sat  Dinner     2  0.079365
237       32.83  1.17    Yes   Sat  Dinner     2  0.035638
238       35.83  4.67     No   Sat  Dinner     3  0.130338
239       29.03  5.92     No   Sat  Dinner     3  0.203927
240       27.18  2.00    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75     No   Sat  Dinner     2  0.098204
243       18.78  3.00     No  Thur  Dinner     2  0.159744

[244 rows x 7 columns]

In [154]:
# 透视表
tips.pivot_table(columns=["smoker"])

smoker             No        Yes
size         2.668874   2.408602
tip          2.991854   3.008710
tip_pct      0.159328   0.163196
total_bill  19.188278  20.756344

### 示例：2012联邦选举委员会数据库

In [155]:
fec = pd.read_csv("./datasets/fec/P00000001-ALL.csv")

/SoftWare/python/python3-data-analysis-F15e879i/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [156]:
fec

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,50.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,3.68633e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,7.24548e+08,NONE,RETIRED,250.0,01-AUG-11,NaN,NaN,NaN,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,7.19016e+08,NONE,RETIRED,300.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
5,C00410118,P20002978,"Bachmann, Michelle","BECKMAN, JAMES",SPRINGDALE,AR,7.27647e+08,NONE,RETIRED,500.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166
6,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,7.24548e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,21-JUN-11,NaN,NaN,NaN,SA17A,736166
7,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,7.24548e+08,NONE,RETIRED,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073
8,C00410118,P20002978,"Bachmann, Michelle","COLLINS, SARAH",MESA,AZ,8.52107e+08,ST. JOSEPH HOSPITAL,RN,250.0,21-JUN-11,NaN,NaN,NaN,SA17A,736166
9,C00410118,P20002978,"Bachmann, Michelle","COLEMAN, RONALD",TUCSON,AZ,8.57499e+08,RAYTHEON,ELECTRICAL ENGINEER,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
10,C00410118,P20002978,"Bachmann, Michelle","ATCHLEY, JR, KEITH",MESA,AZ,85215,NONE,RETIRED,250.0,22-JUN-11,NaN,NaN,NaN,SA17A,736166
11,C00410118,P20002978,"Bachmann, Michelle","FARNSWORTH, ROSS",MESA,AZ,8.52062e+08,FARNSWORTH COMPANIES,LAND DEVELOPER,500.0,22-JUN-11,NaN,NaN,NaN,SA17A,736166
12,C00410118,P20002978,"Bachmann, Michelle","PRESTON, CLIFFORD",ORO VALLEY,AZ,8.57379e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,21-JUN-11,NaN,NaN,NaN,SA17A,736166
13,C00410118,P20002978,"Bachmann, Michelle","PETERSEN, W",GILBERT,AZ,85295,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,27-JUN-11,NaN,NaN,NaN,SA17A,736166
14,C00410118,P20002978,"Bachmann, Michelle","MILLER, WILLIAM",SCOTTSDALE,AZ,8.52513e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,11-JUL-11,NaN,NaN,NaN,SA17A,749073
15,C00410118,P20002978,"Bachmann, Michelle","DOLAN, WILLIAM",PHOENIX,AZ,8.50145e+08,VA MEDICAL CENTER,PHYSICIAN,300.0,08-JUL-11,NaN,NaN,NaN,SA17A,749073
16,C00410118,P20002978,"Bachmann, Michelle","WILSON, RICHARD",FLAGSTAFF,AZ,8.60011e+08,NONE,RETIRED,500.0,17-JUN-11,NaN,NaN,NaN,SA17A,736166
17,C00410118,P20002978,"Bachmann, Michelle","REULING, RICHARD",GREEN VALLEY,AZ,8.56225e+08,NONE,RETIRED,1000.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073
18,C00410118,P20002978,"Bachmann, Michelle","ALLUMBAUGH, KATHY",SANTA ANA,CA,9.27051e+08,NONE,RETIRED,250.0,13-JUN-11,NaN,NaN,NaN,SA17A,736166
19,C00410118,P20002978,"Bachmann, Michelle","DEL POZO, JOSE",DEL MAR,CA,9.20143e+08,RETIRES,RETIRED,300.0,16-JUN-11,NaN,NaN,NaN,SA17A,736166
20,C00410118,P20002978,"Bachmann, Michelle","KIEFFER, PIERRE",SACRAMENTO,CA,9.58257e+08,SELF,OFFICE FURNITURE BROKER,500.0,16-JUN-11,NaN,NaN,NaN,SA17A,736166
21,C00410118,P20002978,"Bachmann, Michelle","HANNAH, STEPHEN",SHERMAN OAKS,CA,9.14132e+08,RETIRED,RETIRED,250.0,16-JUN-11,NaN,NaN,NaN,SA17A,736166
22,C00410118,P20002978,"Bachmann, Michelle","MINNIS, RITA",MILPITAS,CA,9.50358e+08,MILPITS MATERIALS,MANAGER,2500.0,17-JUN-11,NaN,NaN,NaN,SA17A,736166
23,C00410118,P20002978,"Bachmann, Michelle","MINNIS, RITA",MILPITAS,CA,9.50358e+08,MILPITS MATERIALS,MANAGER,2500.0,17-JUN-11,NaN,NaN,NaN,SA17A,736166
24,C00410118,P20002978,"Bachmann, Michelle","EDWARDS, MARK",LA JOLLA,CA,9.20378e+08,NONE,RETIRED,150.0,05-AUG-11,NaN,NaN,NaN,SA17A,749073
25,C00410118,P20002978,"Bachmann, Michelle","HANNAH, STEPHEN",SHERMAN OAKS,CA,9.14132e+08,NONE,RETIRED,200.0,08-AUG-11,NaN,NaN,NaN,SA17A,749073
26,C00410118,P20002978,"Bachmann, Michelle","HENRY, JOAN",YUBA CITY,CA,9.59939e+08,NONE,RETIRED,100.0,15-AUG-11,NaN,NaN,NaN,SA17A,749073
27,C00410118,P20002978,"Bachmann, Michelle","SKEREN, THOMAS",CALABASAS,CA,9.13022e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,16-AUG-11,NaN,NaN,NaN,SA17A,749073
28,C00410118,P20002978,"Bachmann, Michelle","EDWARDS, WILLIAM",LOS ANGELES,CA,9.00243e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,500.0,18-AUG-11,NaN,NaN,NaN,SA17A,749073
29,C00410118,P20002978,"Bachmann, Michelle","PORTER, NANCY",CARMEL VALLEY,CA,9.39249e+08,NANCY PORTER,REALTOR,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001701,C00500587,P20003281,"Perry, Rick","NELSON, DEBORAH MRS.",MORGANTOWN,WV,265082541,HOMEMAKER,HOMEMAKER,2500.0,01-OCT-11,REATTRIBUTION FROM SPOUSE,X,REATTRIBUTION FROM SPOUSE,SA17A,772060
1001702,C00500587,P20003281,"Perry, Rick","PHILLIPS, JIMMY D. MR.",BECKLEY,WV,258011601,PHILLIPS MACHINE SERVICES,EXECUTIVE,2500.0,28-NOV-11,REDESIGNATION FROM PRIMARY,X,REDESIGNATION FROM PRIMARY,SA17A,772060
1001703,C00500587,P20003281,"Perry, Rick","NELSON, HOWARD L. MR.",MORGANTOWN,WV,265082541,SWANSON INDUSTRIES,C.F.O.,-2500.0,01-OCT-11,REATTRIBUTION TO SPOUSE,X,REATTRIBUTION TO SPOUSE,SA17A,772060
1001704,C00500587,P20003281,"Perry, Rick","PHILLIPS, JIMMY D. MR.",BECKLEY,WV,258011601,PHILLIPS MACHINE SERVICES,EXECUTIVE,-2500.0,28-NOV-11,REDESIGNATION TO GENERAL,X,REDESIGNATION TO GENERAL,SA17A,772060
1001705,C00500587,P20003281,"Perry, Rick","PATTON, CHARLES R. MR.",CHARLESTON,WV,253142370,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,1000.0,17-NOV-11,NaN,NaN,NaN,SA17A,772060
1001706,C00500587,P20003281,"Perry, Rick","BEVILOCK, DEBBIE S. MRS.",GRAFTON,WV,263549332,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,08-OCT-11,REATTRIBUTION FROM SPOUSE,X,REATTRIBUTION FROM SPOUSE,SA17A,772060
1001707,C00500587,P20003281,"Perry, Rick","BEVILOCK, JOHN C. MR.",GRAFTON,WV,263549332,DAVID STANLEY COMPANY,SALES,-2500.0,08-OCT-11,REATTRIBUTION TO SPOUSE,X,REATTRIBUTION TO SPOUSE,SA17A,772060
1001708,C00500587,P20003281,"Perry, Rick","HAYHURST, CYNTHIA L. MRS.",WHEELING,WV,260035764,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,09-OCT-11,REATTRIBUTION FROM SPOUSE,X,REATTRIBUTION FROM SPOUSE,SA17A,772060
1001709,C00500587,P20003281,"Perry, Rick","HAYHURST, JAMES W. MR.",WHEELING,WV,260035764,DAVID STANLEY COMPANY,SALES,-2500.0,09-OCT-11,REATTRIBUTION TO SPOUSE,X,REATTRIBUTION TO SPOUSE,SA17A,772060
1001710,C00500587,P20003281,"Perry, Rick","PHILLIPS, JIMMY",BECKLEY,WV,25801,NaN,NaN,-2500.0,31-MAR-12,Refund,NaN,GENERAL REFUND,SB28A,779144
1001711,C00500587,P20003281,"Perry, Rick","FRIESS, STEPHEN MR.",JACKSON,WY,830021655,FRIESS INC.,CONSULTANT,1000.0,29-SEP-11,NaN,NaN,NaN,SA17A,751678
1001712,C00500587,P20003281,"Perry, Rick","SUGDEN, RICHARD G. MR.",JACKSON,WY,830010489,FAMILY PRACTICE ASSOCIATES,DOCTOR,2500.0,26-AUG-11,NaN,NaN,NaN,SA17A,751678
1001713,C00500587,P20003281,"Perry, Rick","SUGDEN, SUSAN MRS.",JACKSON,WY,830010489,SELF-EMPLOYED,INVESTOR,2500.0,26-AUG-11,NaN,NaN,NaN,SA17A,751678
1001714,C00500587,P20003281,"Perry, Rick","SPENCE, RUSSELL",RIVERTON,WY,825019711,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,250.0,15-AUG-11,NaN,NaN,NaN,SA17A,751678
1001715,C00500587,P20003281,"Perry, Rick",TEXAS ENERGY L.L.C.,CHEYENNE,WY,820013163,NaN,NaN,250.0,30-SEP-11,NaN,NaN,ATTRIBUTION TO PARTNERS REQUESTED,SA17A,751678
1001716,C00500587,P20003281,"Perry, Rick","KINSEY, JOAN",LARAMIE,WY,820709758,RETIRED,RETIRED,1000.0,17-AUG-11,NaN,NaN,NaN,SA17A,751678
1001717,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,12-NOV-11,NaN,NaN,NaN,SA17A,772060
1001718,C00500587,P20003281,"Perry, Rick","LUCAS, WES",TETON VILLAGE,WY,83025,SIRVA,CEO,2500.0,04-OCT-11,NaN,NaN,NaN,SA17A,772060
1001719,C00500587,P20003281,"Perry, Rick","LUCAS, ELISABET",TETON VILLAGE,WY,830250824,LUCAS PROPERTIES,OWNER,2500.0,04-OCT-11,NaN,NaN,NaN,SA17A,772060
1001720,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,01-OCT-11,NaN,NaN,NaN,SA17A,772060
1001721,C00500587,P20003281,"Perry, Rick","HANSEN, STEVE MR.",CHEYENNE,WY,820013163,TEXAS ENERGY LLC,EXECUTIVE,250.0,15-NOV-11,NaN,X,SEE ATTRIBUTION,SA17A,772060
1001722,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,29-OCT-11,NaN,NaN,NaN,SA17A,772060
1001723,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,30-NOV-11,NaN,NaN,NaN,SA17A,772060
1001724,C00500587,P20003281,"Perry, Rick","HEFFERNAN, JILL PRINCE MRS.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678
1001725,C00500587,P20003281,"Perry, Rick","ELWOOD, MIKE MR.",INFO REQUESTED,XX,99999,AM COAL,ENGINEER,2500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678
1001726,C00500587,P20003281,"Perry, Rick","GORMAN, CHRIS D. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,5000.0,29-SEP-11,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,NaN,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,SA17A,751678
1001727,C00500587,P20003281,"Perry, Rick","DUFFY, DAVID A. MR.",INFO REQUESTED,XX,99999,DUFFY EQUIPMENT COMPANY INC.,BUSINESS OWNER,2500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678
1001728,C00500587,P20003281,"Perry, Rick","GRANE, BRYAN F. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,500.0,29-SEP-11,NaN,NaN,NaN,SA17A,751678
1001729,C00500587,P20003281,"Perry, Rick","TOLBERT, DARYL MR.",INFO REQUESTED,XX,99999,T.A.C.C.,LONGWALL MAINTENANCE FOREMAN,500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678
1001730,C00500587,P20003281,"Perry, Rick","ANDERSON, MARILEE MRS.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,31-AUG-11,NaN,NaN,NaN,SA17A,751678

In [157]:
fec.loc[123456]

cmte_id                             C00431445
cand_id                             P80003338
cand_nm                         Obama, Barack
contbr_nm                         ELLMAN, IRA
contbr_city                             TEMPE
contbr_st                                  AZ
contbr_zip                          852816719
contbr_employer      ARIZONA STATE UNIVERSITY
contbr_occupation                   PROFESSOR
contb_receipt_amt                          50
contb_receipt_dt                    01-DEC-11
receipt_desc                              NaN
memo_cd                                   NaN
memo_text                                 NaN
form_tp                                 SA17A
file_num                               772372
Name: 123456, dtype: object

In [158]:
unique_cands = fec.cand_nm.unique()

In [159]:
unique_cands

array(['Bachmann, Michelle', 'Romney, Mitt', 'Obama, Barack',
       "Roemer, Charles E. 'Buddy' III", 'Pawlenty, Timothy',
       'Johnson, Gary Earl', 'Paul, Ron', 'Santorum, Rick',
       'Cain, Herman', 'Gingrich, Newt', 'McCotter, Thaddeus G',
       'Huntsman, Jon', 'Perry, Rick'], dtype=object)

In [160]:
unique_cands[2]

'Obama, Barack'

In [161]:
# 利用字典说明党派关系
parties = {
    "Bachmann, Michelle": "Republican",
    "Obama, Barack": "Democrat"
}

In [162]:
fec.cand_nm[123456:123461]

123456    Obama, Barack
123457    Obama, Barack
123458    Obama, Barack
123459    Obama, Barack
123460    Obama, Barack
Name: cand_nm, dtype: object

In [163]:
fec.cand_nm[123456:123461].map(parties)

123456    Democrat
123457    Democrat
123458    Democrat
123459    Democrat
123460    Democrat
Name: cand_nm, dtype: object

In [164]:
# 将其添加为一个新列
fec["party"] = fec.cand_nm.map(parties)

In [165]:
fec["party"].value_counts()

Democrat      593746
Republican     13140
Name: party, dtype: int64

In [166]:
(fec.contb_receipt_amt > 0).value_counts()

True     991475
False     10256
Name: contb_receipt_amt, dtype: int64

In [167]:
# 数据集只能有正的出资额
fec = fec[fec.contb_receipt_amt > 0]

In [168]:
fec

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,party
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,3.6601e+08,RETIRED,RETIRED,50.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,3.68633e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073,Republican
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,7.24548e+08,NONE,RETIRED,250.0,01-AUG-11,NaN,NaN,NaN,SA17A,749073,Republican
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,7.19016e+08,NONE,RETIRED,300.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
5,C00410118,P20002978,"Bachmann, Michelle","BECKMAN, JAMES",SPRINGDALE,AR,7.27647e+08,NONE,RETIRED,500.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
6,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,7.24548e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,21-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
7,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,7.24548e+08,NONE,RETIRED,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073,Republican
8,C00410118,P20002978,"Bachmann, Michelle","COLLINS, SARAH",MESA,AZ,8.52107e+08,ST. JOSEPH HOSPITAL,RN,250.0,21-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
9,C00410118,P20002978,"Bachmann, Michelle","COLEMAN, RONALD",TUCSON,AZ,8.57499e+08,RAYTHEON,ELECTRICAL ENGINEER,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
10,C00410118,P20002978,"Bachmann, Michelle","ATCHLEY, JR, KEITH",MESA,AZ,85215,NONE,RETIRED,250.0,22-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
11,C00410118,P20002978,"Bachmann, Michelle","FARNSWORTH, ROSS",MESA,AZ,8.52062e+08,FARNSWORTH COMPANIES,LAND DEVELOPER,500.0,22-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
12,C00410118,P20002978,"Bachmann, Michelle","PRESTON, CLIFFORD",ORO VALLEY,AZ,8.57379e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,21-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
13,C00410118,P20002978,"Bachmann, Michelle","PETERSEN, W",GILBERT,AZ,85295,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,27-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
14,C00410118,P20002978,"Bachmann, Michelle","MILLER, WILLIAM",SCOTTSDALE,AZ,8.52513e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,11-JUL-11,NaN,NaN,NaN,SA17A,749073,Republican
15,C00410118,P20002978,"Bachmann, Michelle","DOLAN, WILLIAM",PHOENIX,AZ,8.50145e+08,VA MEDICAL CENTER,PHYSICIAN,300.0,08-JUL-11,NaN,NaN,NaN,SA17A,749073,Republican
16,C00410118,P20002978,"Bachmann, Michelle","WILSON, RICHARD",FLAGSTAFF,AZ,8.60011e+08,NONE,RETIRED,500.0,17-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
17,C00410118,P20002978,"Bachmann, Michelle","REULING, RICHARD",GREEN VALLEY,AZ,8.56225e+08,NONE,RETIRED,1000.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073,Republican
18,C00410118,P20002978,"Bachmann, Michelle","ALLUMBAUGH, KATHY",SANTA ANA,CA,9.27051e+08,NONE,RETIRED,250.0,13-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
19,C00410118,P20002978,"Bachmann, Michelle","DEL POZO, JOSE",DEL MAR,CA,9.20143e+08,RETIRES,RETIRED,300.0,16-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
20,C00410118,P20002978,"Bachmann, Michelle","KIEFFER, PIERRE",SACRAMENTO,CA,9.58257e+08,SELF,OFFICE FURNITURE BROKER,500.0,16-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
21,C00410118,P20002978,"Bachmann, Michelle","HANNAH, STEPHEN",SHERMAN OAKS,CA,9.14132e+08,RETIRED,RETIRED,250.0,16-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
22,C00410118,P20002978,"Bachmann, Michelle","MINNIS, RITA",MILPITAS,CA,9.50358e+08,MILPITS MATERIALS,MANAGER,2500.0,17-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
23,C00410118,P20002978,"Bachmann, Michelle","MINNIS, RITA",MILPITAS,CA,9.50358e+08,MILPITS MATERIALS,MANAGER,2500.0,17-JUN-11,NaN,NaN,NaN,SA17A,736166,Republican
24,C00410118,P20002978,"Bachmann, Michelle","EDWARDS, MARK",LA JOLLA,CA,9.20378e+08,NONE,RETIRED,150.0,05-AUG-11,NaN,NaN,NaN,SA17A,749073,Republican
25,C00410118,P20002978,"Bachmann, Michelle","HANNAH, STEPHEN",SHERMAN OAKS,CA,9.14132e+08,NONE,RETIRED,200.0,08-AUG-11,NaN,NaN,NaN,SA17A,749073,Republican
26,C00410118,P20002978,"Bachmann, Michelle","HENRY, JOAN",YUBA CITY,CA,9.59939e+08,NONE,RETIRED,100.0,15-AUG-11,NaN,NaN,NaN,SA17A,749073,Republican
27,C00410118,P20002978,"Bachmann, Michelle","SKEREN, THOMAS",CALABASAS,CA,9.13022e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,16-AUG-11,NaN,NaN,NaN,SA17A,749073,Republican
28,C00410118,P20002978,"Bachmann, Michelle","EDWARDS, WILLIAM",LOS ANGELES,CA,9.00243e+08,INFORMATION REQUESTED,INFORMATION REQUESTED,500.0,18-AUG-11,NaN,NaN,NaN,SA17A,749073,Republican
29,C00410118,P20002978,"Bachmann, Michelle","PORTER, NANCY",CARMEL VALLEY,CA,9.39249e+08,NANCY PORTER,REALTOR,250.0,05-JUL-11,NaN,NaN,NaN,SA17A,749073,Republican
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001696,C00500587,P20003281,"Perry, Rick","NICHOLSON, LEWIS E. MR.",VALLEY GROVE,WV,260602031,MISSCO,BUSINESS MANAGER,1000.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001697,C00500587,P20003281,"Perry, Rick","NICHOLSON, LEWIS E. MR.",VALLEY GROVE,WV,260602031,MISSCO,BUSINESS MANAGER,1500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001698,C00500587,P20003281,"Perry, Rick","NELSON, HOWARD L. MR.",MORGANTOWN,WV,265082541,SWANSON INDUSTRIES,C.F.O.,2500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001699,C00500587,P20003281,"Perry, Rick","NELSON, HOWARD L. MR.",MORGANTOWN,WV,265082541,SWANSON INDUSTRIES,C.F.O.,2500.0,30-SEP-11,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,NaN,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,SA17A,751678,NaN
1001700,C00500587,P20003281,"Perry, Rick","JARVIS, WILLIAM C. MR.",WINFIELD,WV,252139785,FLUID COMPONET SERVICES INC,SALES,300.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001701,C00500587,P20003281,"Perry, Rick","NELSON, DEBORAH MRS.",MORGANTOWN,WV,265082541,HOMEMAKER,HOMEMAKER,2500.0,01-OCT-11,REATTRIBUTION FROM SPOUSE,X,REATTRIBUTION FROM SPOUSE,SA17A,772060,NaN
1001702,C00500587,P20003281,"Perry, Rick","PHILLIPS, JIMMY D. MR.",BECKLEY,WV,258011601,PHILLIPS MACHINE SERVICES,EXECUTIVE,2500.0,28-NOV-11,REDESIGNATION FROM PRIMARY,X,REDESIGNATION FROM PRIMARY,SA17A,772060,NaN
1001705,C00500587,P20003281,"Perry, Rick","PATTON, CHARLES R. MR.",CHARLESTON,WV,253142370,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,1000.0,17-NOV-11,NaN,NaN,NaN,SA17A,772060,NaN
1001706,C00500587,P20003281,"Perry, Rick","BEVILOCK, DEBBIE S. MRS.",GRAFTON,WV,263549332,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,08-OCT-11,REATTRIBUTION FROM SPOUSE,X,REATTRIBUTION FROM SPOUSE,SA17A,772060,NaN
1001708,C00500587,P20003281,"Perry, Rick","HAYHURST, CYNTHIA L. MRS.",WHEELING,WV,260035764,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,09-OCT-11,REATTRIBUTION FROM SPOUSE,X,REATTRIBUTION FROM SPOUSE,SA17A,772060,NaN
1001711,C00500587,P20003281,"Perry, Rick","FRIESS, STEPHEN MR.",JACKSON,WY,830021655,FRIESS INC.,CONSULTANT,1000.0,29-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001712,C00500587,P20003281,"Perry, Rick","SUGDEN, RICHARD G. MR.",JACKSON,WY,830010489,FAMILY PRACTICE ASSOCIATES,DOCTOR,2500.0,26-AUG-11,NaN,NaN,NaN,SA17A,751678,NaN
1001713,C00500587,P20003281,"Perry, Rick","SUGDEN, SUSAN MRS.",JACKSON,WY,830010489,SELF-EMPLOYED,INVESTOR,2500.0,26-AUG-11,NaN,NaN,NaN,SA17A,751678,NaN
1001714,C00500587,P20003281,"Perry, Rick","SPENCE, RUSSELL",RIVERTON,WY,825019711,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,250.0,15-AUG-11,NaN,NaN,NaN,SA17A,751678,NaN
1001715,C00500587,P20003281,"Perry, Rick",TEXAS ENERGY L.L.C.,CHEYENNE,WY,820013163,NaN,NaN,250.0,30-SEP-11,NaN,NaN,ATTRIBUTION TO PARTNERS REQUESTED,SA17A,751678,NaN
1001716,C00500587,P20003281,"Perry, Rick","KINSEY, JOAN",LARAMIE,WY,820709758,RETIRED,RETIRED,1000.0,17-AUG-11,NaN,NaN,NaN,SA17A,751678,NaN
1001717,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,12-NOV-11,NaN,NaN,NaN,SA17A,772060,NaN
1001718,C00500587,P20003281,"Perry, Rick","LUCAS, WES",TETON VILLAGE,WY,83025,SIRVA,CEO,2500.0,04-OCT-11,NaN,NaN,NaN,SA17A,772060,NaN
1001719,C00500587,P20003281,"Perry, Rick","LUCAS, ELISABET",TETON VILLAGE,WY,830250824,LUCAS PROPERTIES,OWNER,2500.0,04-OCT-11,NaN,NaN,NaN,SA17A,772060,NaN
1001720,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,01-OCT-11,NaN,NaN,NaN,SA17A,772060,NaN
1001721,C00500587,P20003281,"Perry, Rick","HANSEN, STEVE MR.",CHEYENNE,WY,820013163,TEXAS ENERGY LLC,EXECUTIVE,250.0,15-NOV-11,NaN,X,SEE ATTRIBUTION,SA17A,772060,NaN
1001722,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,29-OCT-11,NaN,NaN,NaN,SA17A,772060,NaN
1001723,C00500587,P20003281,"Perry, Rick","HARDER, ROBERT",POWELL,WY,824359238,NaN,RETIRED,100.0,30-NOV-11,NaN,NaN,NaN,SA17A,772060,NaN
1001724,C00500587,P20003281,"Perry, Rick","HEFFERNAN, JILL PRINCE MRS.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001725,C00500587,P20003281,"Perry, Rick","ELWOOD, MIKE MR.",INFO REQUESTED,XX,99999,AM COAL,ENGINEER,2500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001726,C00500587,P20003281,"Perry, Rick","GORMAN, CHRIS D. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,5000.0,29-SEP-11,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,NaN,REATTRIBUTION / REDESIGNATION REQUESTED (AUTOM...,SA17A,751678,NaN
1001727,C00500587,P20003281,"Perry, Rick","DUFFY, DAVID A. MR.",INFO REQUESTED,XX,99999,DUFFY EQUIPMENT COMPANY INC.,BUSINESS OWNER,2500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001728,C00500587,P20003281,"Perry, Rick","GRANE, BRYAN F. MR.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,500.0,29-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001729,C00500587,P20003281,"Perry, Rick","TOLBERT, DARYL MR.",INFO REQUESTED,XX,99999,T.A.C.C.,LONGWALL MAINTENANCE FOREMAN,500.0,30-SEP-11,NaN,NaN,NaN,SA17A,751678,NaN
1001730,C00500587,P20003281,"Perry, Rick","ANDERSON, MARILEE MRS.",INFO REQUESTED,XX,99999,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,2500.0,31-AUG-11,NaN,NaN,NaN,SA17A,751678,NaN

In [169]:
fec_mrbo = fec[fec.cand_nm.isin(["Obama, Barack", "Romney, Mitt"])]

In [170]:
fec_mrbo

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,party
411,C00431171,P80003353,"Romney, Mitt","ELDERBAUM, WILLIAM",DPO,AA,3.4023e+08,US GOVERNMENT,FOREIGN SERVICE OFFICER,25.0,01-FEB-12,NaN,NaN,NaN,SA17A,780124,NaN
412,C00431171,P80003353,"Romney, Mitt","ELDERBAUM, WILLIAM",DPO,AA,3.4023e+08,US GOVERNMENT,FOREIGN SERVICE OFFICER,110.0,01-FEB-12,NaN,NaN,NaN,SA17A,780124,NaN
413,C00431171,P80003353,"Romney, Mitt","CARLSEN, RICHARD",APO,AE,9.128e+07,DEFENSE INTELLIGENCE AGENCY,INTELLIGENCE ANALYST,250.0,13-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
414,C00431171,P80003353,"Romney, Mitt","DELUCA, PIERRE",APO,AE,9.128e+07,CISCO,ENGINEER,30.0,21-AUG-11,NaN,NaN,NaN,SA17A,760261,NaN
415,C00431171,P80003353,"Romney, Mitt","SARGENT, MICHAEL",APO,AE,9.01201e+07,RAYTHEON TECHNICAL SERVICES CORP,COMPUTER SYSTEMS ENGINEER,100.0,07-MAR-12,NaN,NaN,NaN,SA17A,780128,NaN
416,C00431171,P80003353,"Romney, Mitt","WILSON, ANDREW C. MR.",DPO,AE,9.87e+07,US DEPT OF STATE,FOREIGN SERVICE OFFICER,50.0,17-MAR-12,NaN,NaN,NaN,SA17A,780128,NaN
417,C00431171,P80003353,"Romney, Mitt","GRIFFIS, JOHN",APO,AE,9.128e+07,US ARMY,MILITARY OFFICER,250.0,20-MAR-12,NaN,NaN,NaN,SA17A,780128,NaN
418,C00431171,P80003353,"Romney, Mitt","SARGENT, MICHAEL",APO,AE,9.01201e+07,RAYTHEON TECHNICAL SERVICES CORP,COMPUTER SYSTEMS ENGINEER,100.0,09-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
419,C00431171,P80003353,"Romney, Mitt","GRIFFIS, JOHN",APO,AE,9.128e+07,US ARMY,MILITARY OFFICER,250.0,28-JAN-12,NaN,NaN,NaN,SA17A,771933,NaN
420,C00431171,P80003353,"Romney, Mitt","DELUCA, PIERRE MR.",APO,AE,9.128e+07,US ARMY,ENGINEER,50.0,01-FEB-12,NaN,NaN,NaN,SA17A,780124,NaN
421,C00431171,P80003353,"Romney, Mitt","CLAUDE, FOUKS",PARIS FRANCE,AE,75011,PALPATINE,SECRET,100.0,29-NOV-11,NaN,NaN,NaN,SA17A,771927,NaN
422,C00431171,P80003353,"Romney, Mitt","CLAUDE, FOUKS",PARIS FRANCE,AE,75011,PALPATINE,SECRET,250.0,29-DEC-11,NaN,NaN,NaN,SA17A,771927,NaN
423,C00431171,P80003353,"Romney, Mitt","JONES, BRENDON",QATAR,AE,9898,OSC,MEDIA ANALYST,250.0,22-NOV-11,NaN,NaN,NaN,SA17A,771927,NaN
424,C00431171,P80003353,"Romney, Mitt","KAMMER, DONALD",APO,AE,9267,US,MILITARY,500.0,31-DEC-11,NaN,NaN,NaN,SA17A,771927,NaN
425,C00431171,P80003353,"Romney, Mitt","DELUCA, PIERRE",APO,AE,9.128e+07,CISCO,ENGINEER,250.0,28-APR-11,NaN,NaN,NaN,SA17A,760248,NaN
426,C00431171,P80003353,"Romney, Mitt","DELUCA, PIERRE",APO,AE,9.128e+07,CISCO,ENGINEER,250.0,27-JUN-11,NaN,NaN,NaN,SA17A,760248,NaN
427,C00431171,P80003353,"Romney, Mitt","EDWARDS, BRYANT MR.",LONDON UK,AE,90071,LATHAM & WATKINS,ATTORNEY,2500.0,20-JUN-11,NaN,NaN,NaN,SA17A,760248,NaN
428,C00431171,P80003353,"Romney, Mitt","SANTALIZ, RAFAEL MR. JR.",APO,AE,9.102e+07,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,500.0,14-FEB-12,NaN,NaN,NaN,SA17A,780124,NaN
429,C00431171,P80003353,"Romney, Mitt","DICKSON, ROBERT J. MR.",ANCHORAGE,AK,9.95166e+08,ATKINSON CONWAY & GOGVOR,ATTORNEY,250.0,27-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
430,C00431171,P80003353,"Romney, Mitt","CARROLL, ART MR.",FAIRBANKS,AK,9.97014e+08,RETIRED,RETIRED,100.0,09-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
431,C00431171,P80003353,"Romney, Mitt","NELDNER, RICHARD E. MR.",FAIRBANKS,AK,9.97073e+08,RETIRED,RETIRED,2500.0,23-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
432,C00431171,P80003353,"Romney, Mitt","MCGUIRE, PATTI S. MRS.",ANCHORAGE,AK,9.95022e+08,BRIDGECARE HOSPITALS,VICE PRESIDENT,1000.0,12-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
433,C00431171,P80003353,"Romney, Mitt","WENZELL, DOMINIC S. DR.",ANCHORAGE,AK,9.95173e+08,SELF-EMPLOYED,DENTIST,250.0,30-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
434,C00431171,P80003353,"Romney, Mitt","DIXON, JANET",FAIRBANKS,AK,9.97097e+08,SELF-EMPLOYED,CONSULTANT,110.0,23-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
435,C00431171,P80003353,"Romney, Mitt","HOVE, BRIAN MR.",ANCHORAGE,AK,9.95173e+08,SELF-EMPLOYED,PHOTOGRAPHER,250.0,24-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
436,C00431171,P80003353,"Romney, Mitt","FRAHM, MIKE",WILLOW,AK,9.96881e+08,ALASKA AIRLINES,PILOT,250.0,20-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
437,C00431171,P80003353,"Romney, Mitt","POWERS, SANDRA L.",ANCHORAGE,AK,9.95072e+08,POWERS BROTHERS INC.,VICE PRESIDENT,25.0,24-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
438,C00431171,P80003353,"Romney, Mitt","SNODGRASS, JEANNIE",PALMER,AK,9.96452e+08,STUDENT,STUDENT,250.0,21-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
439,C00431171,P80003353,"Romney, Mitt","POWELL, J. FRANCES MR.",KODIAK,AK,9.96151e+08,INFORMATION REQUESTED PER BEST EFFORTS,INFORMATION REQUESTED PER BEST EFFORTS,250.0,09-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
440,C00431171,P80003353,"Romney, Mitt","MCQUEEN, DENNIS L. MR.",FAIRBANKS,AK,9.97012e+08,RETIRED,RETIRED,50.0,16-APR-12,NaN,NaN,NaN,SA17A,785689,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701356,C00431445,P80003338,"Obama, Barack","WOODS, WILLIAM",BAR NUNN,WY,826019485,WAL-MART,ASSOCIATE,20.0,31-MAR-12,NaN,NaN,NaN,SA17A,780234,Democrat
701357,C00431445,P80003338,"Obama, Barack","STOVAL, LINDA",CASPER,WY,826013324,SELF-EMPLOYED,POLITICAL CONSULTANT AND COACH,10.0,28-MAR-12,NaN,NaN,NaN,SA17A,780234,Democrat
701358,C00431445,P80003338,"Obama, Barack","HAGEN, MARTIN",JACKSON,WY,83002,TETON COUNTY SCHOOL DIST. #1,BUS DRIVER,25.0,17-MAR-12,NaN,NaN,NaN,SA17A,780234,Democrat
701359,C00431445,P80003338,"Obama, Barack","MILLS, DAVID",JACKSON,WY,830010452,RETIRED,RETIRED,75.0,31-MAR-12,NaN,NaN,NaN,SA17A,780234,Democrat
701360,C00431445,P80003338,"Obama, Barack","PHELPS, WILLIAM",JACKSON,WY,830012585,SELF-EMPLOYED,SELF-EMPLOYED,100.0,02-MAR-12,NaN,NaN,NaN,SA17A,780234,Democrat
701361,C00431445,P80003338,"Obama, Barack","MARLATT, GORDON",LARAMIE,WY,82070,SELF-EMPLOYED,GEOLOGIST,25.0,07-MAR-12,NaN,NaN,NaN,SA17A,780234,Democrat
701362,C00431445,P80003338,"Obama, Barack","GOTTFRIED, BETTE",CASPER,WY,826043172,RETIRED,RETIRED,200.0,25-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701363,C00431445,P80003338,"Obama, Barack","STOVAL, LINDA",CASPER,WY,826013324,SELF-EMPLOYED,POLITICAL CONSULTANT AND COACH,25.0,23-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701364,C00431445,P80003338,"Obama, Barack","MILES, MATTHEW",ALPINE,WY,831280665,SELF-EMPLOYED,BUSINESS MANAGEMENT,50.0,20-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701365,C00431445,P80003338,"Obama, Barack","NELSON, JANE B.",CHEYENNE,WY,820098901,RETIRED,RETIRED,50.0,30-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701366,C00431445,P80003338,"Obama, Barack","HAGEN, MARTIN",JACKSON,WY,83002,TETON COUNTY SCHOOL DIST. #1,BUS DRIVER,19.0,26-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701367,C00431445,P80003338,"Obama, Barack","EMORY, DENNIS S",WILSON,WY,830140190,SELF-EMPLOYED,CONSULTANT,100.0,19-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701368,C00431445,P80003338,"Obama, Barack","IRWIN, C. DON",DOUGLAS,WY,826339515,INFORMATION REQUESTED,INFORMATION REQUESTED,150.0,05-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701369,C00431445,P80003338,"Obama, Barack","LIU, FREDERICK",JACKSON,WY,830010788,NOT EMPLOYED,RETIRED,56.0,26-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701370,C00431445,P80003338,"Obama, Barack","KNIGHT, CINDY",JACKSON,WY,830012194,TETON YOUTH AND FAMILY SERVICES,PROGRAM DIRECTOR,100.0,19-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701371,C00431445,P80003338,"Obama, Barack","NEAL, AMBER",APO,ZZ,091022065,THE DEPARTMENT OF DEFENSE EDUCATION AC,TEACHER,50.0,04-SEP-11,NaN,NaN,NaN,SA17A,756218,Democrat
701372,C00431445,P80003338,"Obama, Barack","MOUNTS, ROBERT",APO,ZZ,962043077,HQ USFK (FKDC-SA),GS-15 INTERNATIONAL RELATIONS OFFICER,25.0,26-MAR-12,NaN,NaN,NaN,SA17A,780234,Democrat
701373,C00431445,P80003338,"Obama, Barack","MOUNTS, ROBERT",APO,ZZ,962043077,HQ USFK (FKDC-SA),GS-15 INTERNATIONAL RELATIONS OFFICER,25.0,26-OCT-11,NaN,NaN,NaN,SA17A,772372,Democrat
701374,C00431445,P80003338,"Obama, Barack","TUCKER, PAMELA",APO,ZZ,963190030,DODEA,EDUCATOR,100.0,31-DEC-11,NaN,NaN,NaN,SA17A,772372,Democrat
701375,C00431445,P80003338,"Obama, Barack","MOUNTS, ROBERT",APO,ZZ,962043077,HQ USFK (FKDC-SA),GS-15 INTERNATIONAL RELATIONS OFFICER,25.0,26-DEC-11,NaN,NaN,NaN,SA17A,772372,Democrat
701376,C00431445,P80003338,"Obama, Barack","JONES, LESLIE",HAMILTON PARISH,ZZ,0CR04,SELF-EMPLOYED,ATTORNEY,2500.0,30-DEC-11,NaN,X,* OBAMA VICTORY FUND 2012,SA18,772372,Democrat
701377,C00431445,P80003338,"Obama, Barack","MOUNTS, ROBERT",APO,ZZ,962043077,HQ USFK (FKDC-SA),GS-15 INTERNATIONAL RELATIONS OFFICER,25.0,26-NOV-11,NaN,NaN,NaN,SA17A,772372,Democrat
701378,C00431445,P80003338,"Obama, Barack","MOUNTS, ROBERT",APO,ZZ,962043077,HQ USFK (FKDC-SA),GS-15 INTERNATIONAL RELATIONS OFFICER,25.0,26-JAN-12,NaN,NaN,NaN,SA17A,775668,Democrat
701379,C00431445,P80003338,"Obama, Barack","GOLDSTINE, RAYMOND",APO,ZZ,09831,CDC,PUBLIC HEALTH ADVISOR,250.0,02-FEB-12,NaN,NaN,NaN,SA17A,787803,Democrat
701380,C00431445,P80003338,"Obama, Barack","JONES, LESLIE",HAMILTON PARISH,ZZ,0CR04,SELF-EMPLOYED,ATTORNEY,2500.0,30-DEC-11,NaN,X,* OBAMA VICTORY FUND 2012,SA18,772372,Democrat
701381,C00431445,P80003338,"Obama, Barack","MOUNTS, ROBERT",APO,ZZ,962043077,HQ USFK (FKDC-SA),GS-15 INTERNATIONAL RELATIONS OFFICER,25.0,26-FEB-12,NaN,NaN,NaN,SA17A,787803,Democrat
701382,C00431445,P80003338,"Obama, Barack","TAITANO, TYRONE",HAGATNA,ZZ,969323373,NOT EMPLOYED,RETIRED,250.0,20-JAN-12,NaN,NaN,NaN,SA17A,775668,Democrat
701383,C00431445,P80003338,"Obama, Barack","TUCKER, PAMELA",APO,ZZ,963190030,DODEA,EDUCATOR,3.0,20-JAN-12,NaN,NaN,NaN,SA17A,775668,Democrat
701384,C00431445,P80003338,"Obama, Barack","MOUNTS, ROBERT",APO,ZZ,962043077,HQ USFK (FKDC-SA),GS-15 INTERNATIONAL RELATIONS OFFICER,25.0,26-APR-12,NaN,NaN,NaN,SA17A,785239,Democrat
701385,C00431445,P80003338,"Obama, Barack","NEAL, AMBER",APO,ZZ,091022065,THE DEPARTMENT OF DEFENSE EDUCATION AC,TEACHER,135.0,04-SEP-11,NaN,X,* OBAMA VICTORY FUND 2012,SA18,756218,Democrat

#### 1.根据职业和雇主统计赞助信息

In [171]:
# 基于职业的赞助信息统计是另一种经常被研究的统计任务。
fec.contbr_occupation.value_counts()[:10]

RETIRED                                   233990
INFORMATION REQUESTED                      35107
ATTORNEY                                   34286
HOMEMAKER                                  29931
PHYSICIAN                                  23432
INFORMATION REQUESTED PER BEST EFFORTS     21138
ENGINEER                                   14334
TEACHER                                    13990
CONSULTANT                                 13273
PROFESSOR                                  12555
Name: contbr_occupation, dtype: int64

In [173]:
occ_mapping = {
    "INFORMATION REQUESTED PER BEST EFFORTS": "NOT PROVIDED",
    "INFORMATION REQUESTED": "NOT PROVIDED",
    "INFORMATION REQUESTED (BEST EFFORTS)":  "NOT PROVIDED",
    "C.E.O.": "CEO"
}

In [174]:
# 如果没有提供相关映射，则返回x
f = lambda x: occ_mapping.get(x, x)
fec.contbr_occupation = fec.contbr_occupation.map(f)

/SoftWare/python/python3-data-analysis-F15e879i/lib/python3.5/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [175]:
emp_mapping = {
    "INFORMATION REQUESTED PER BEST EFFORTS": "NOT PROVIDED",
    "INFORMATION REQUESTED": "NOT PROVIDED",
    "SELF": "SELF-EMPLOYED",
    "SELF EMPLOYED": "SELF_EMPLOYED",
}

In [176]:
f = lambda x: emp_mapping.get(x, x)
fec.contbr_employer = fec.contbr_employer.map(f)

/SoftWare/python/python3-data-analysis-F15e879i/lib/python3.5/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value